.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background: linear-gradient(135deg, #fafafa, #ededed);
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

.header_nav h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #030303;
    margin-left: 15px;
}

.header_nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    gap: 25px;
}

.header_nav_links a {
    text-decoration: none;    
    font-size: 1.8rem;    
}

.header_nav_links a:hover {
    color: #007bff;
    transition: color 0.3s ease;
}

.header_nav_links_social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.fa-brands {
    color: #141414;
    font-size: 1.5rem;
}
.fa-bars {
    display: none;
}



@media (max-width: 1024px) {
    .header_nav {
        flex-direction: column;
    }

    .header_nav_links {
        margin-right: 0;
        gap: 15px;
    }

    .header_nav_links a {
        font-size: 0.9rem;
    }

    .header_nav_links_social {
        gap: 10px;
    }

    .fa-brands {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .header_nav {
        flex-direction: row;
    }

    .header_nav h1 {
        font-size: 1.2rem;
    }

    .header_nav_links {
        flex-direction: column;
        margin-right: 0;
        gap: 10px;
    }

    .header_nav_links a {
        font-size: 0.8rem;
    }

    .header_nav_links_social {
        gap: 8px;
    }

    .fa-brands {
        font-size: 1.2rem;
    }

    .fa-bars {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .header_nav_links {
        display: none;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .header_nav_links_social {
        display: none;
    }
}
