.error_message{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    color: #fffdfd;
    height: 100vh ;
}

.error{
    background-color: rgb(31, 31, 31);
    color: white;
}

.error h1{
    font-size: 3rem;
    font-weight: 700;
    color: #fafafa;    
}

.error a{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fafafa;
}