.formulaire {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dcdcdd;
  width: 50%;
  height: auto;
  padding: 20px;
  border-radius: 15px;
  gap: 20px;
  box-shadow: 0 0 10px rgba(10, 75, 255, 0.404);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.btn_form {
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  background-color: #004C9E;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn_form:hover {
  background-color: #007BFF;
  transform: scale(1.1);
}


@media (max-width: 768px) {
  .formulaire {
    width: 90%;
  }

  .contact-form {
    padding: 10px;
  }

  .form-group {
    width: 100%;
  }  
}

@media (max-width: 1024px) {
  .formulaire {
    width: 80%;
  }

  .contact-form {
    padding: 15px;
  }
  
  
}