.contact {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    flex-direction: column;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: rgb(32, 32, 32);
    background: radial-gradient(circle, rgba(32, 32, 32, 1) 0%, rgba(48, 48, 48, 1) 100%);
}

.contact_title{
    margin-top: 30px;
    font-size: 3rem;
    font-weight: 700;
    color: #fafafa;
    margin-bottom: 20px;
}