.project_card{
    width: 100%;
    cursor: pointer; 
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center ;
    margin: 0 auto;       
    border-radius: 15px;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;    
}


.project_card_picture{
    width: 400px;    
    height: 300px;
    object-fit: cover;
    object-position: center;    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.project_card_title{
   
    font-size: 1.5rem;
    font-weight: 900;
    color: #000000;
}

.project_card_langage_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    
}

.project_card_langage{
    display: flex;    
    gap: 15px;    
    padding: 5px 10px;   
    font-size: 30px;
    font-weight: 700;
}

.fa-brands{
    
    font-size: 50px;
}

.orrange{
    color: #ff7f50;
}

.blue{
    color: #007bff;
}

.green{
    color: #28a745;
}

.red{
    color: #dc3545;
}

.yellow{
    color: #ffc107;
}

@media (max-width: 768px) {
    .project_card_picture{
        width: 100%;
        height: 200px;
    }
    .project_card{
        width: 100%;       
    }
    .project_card_title{
        font-size: 1.2rem;
    }
    .project_card_langage{
        font-size: 20px;
    }
    .fa-brands{
        font-size: 30px;
    }
    
}