.experience_content_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 120px;
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.experience_content_item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.experience_content_item h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.experience_content_item_desciption,
.experience_content_item_date {
    font-size: 1rem;
    color: #666;
    margin: 5px 0;
}

.experience_content_item_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 8px;
}

.experience_content_item_entreprise {
    font-weight: bold;
}
