.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.swiper-slide img {
    display: block;
    
}

.mySwiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 20px;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: #ffffff;
    font-weight: bold;
    font-size: 150px;
    z-index: 2;
}

.swiper-pagination-bullet {
    background-color: #ffffff;
    width: 20px;
    height: 20px;
}
