
.swiper {
    width: 100%;
    height: 60%;
    cursor: grab;
    background: rgb(48, 48, 48);
    background: linear-gradient(90deg, rgba(48, 48, 48, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(48, 48, 48, 1) 100%);
}

.swiper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.swiper-slide {
    text-align: center;
    cursor: grab;
    font-size: 18px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.651);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.swiper-slide img {
    display: block;    
    object-fit: cover;
}

.swiper-slide {
    width: 60%;
}

.swiper-slide:nth-child(2n) {
    width: 40%;
}

.swiper-slide:nth-child(3n) {
    width: 20%;
}
