.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.swiper-slide img {
    display: block;
}

.mySwiper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;    
    border-radius: 20px;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: #161616;
    font-weight: bold;
    font-size: 150px;
    z-index: 2;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 50px;
}

.swiper-pagination-bullet {
    background-color: #ffffff;
    width: 20px;
    height: 20px;
}





@media (max-width: 768px) {
    .mySwiper {
        flex-direction: column;
        height: 100%;
    }

    .swiper-slide {
        width: 90%;
        height: 300px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        font-size: 50px;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
}